documentMaster.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://gutenberg/blocs" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://gutenberg/blocs">
	<wsdl:types>
		<xsd:schema targetNamespace="http://gutenberg/blocs"
			elementFormDefault="qualified">			
			<xsd:complexType name="entryType">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:string"></xsd:element>
					<xsd:element name="name" type="xsd:string" maxOccurs="1"
						minOccurs="0">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="entryListType">
				<xsd:sequence>
					<xsd:element name="entry" type="tns:entryType"
						maxOccurs="unbounded" minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>			
			
			<xsd:complexType name="quizType">
				<xsd:sequence>
					<xsd:element name="quiz" type="tns:entryType"></xsd:element>
					<xsd:element name="teacher" type="tns:entryType"></xsd:element>
					<xsd:element name="school" type="tns:entryType"></xsd:element>
					<xsd:element name="page" type="tns:pageType" maxOccurs="unbounded"
						minOccurs="1">					
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="manifestType">
				<xsd:sequence>
					<xsd:element name="root" type="xsd:string"></xsd:element>
					<xsd:element name="image" type="tns:entryType"
						maxOccurs="unbounded" minOccurs="0">
					</xsd:element>
					<xsd:element name="document" type="tns:entryType"
						maxOccurs="unbounded" minOccurs="0">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>


			<xsd:complexType name="pageType">
				<xsd:sequence>
					<xsd:element name="number" type="xsd:int"></xsd:element>
					<xsd:element name="question" type="tns:entryType"
						maxOccurs="unbounded" minOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="responseType">
				<xsd:choice>
					<xsd:element name="manifest" type="tns:manifestType">
					</xsd:element>
					<xsd:element name="error" type="xsd:string"></xsd:element>
				</xsd:choice>
			</xsd:complexType>

			<xsd:complexType name="assignmentType">
				<xsd:sequence>
					<xsd:element name="quiz" type="tns:entryType"></xsd:element>
					<xsd:element name="instance" type="tns:entryType"></xsd:element>
					<xsd:element name="students" type="tns:entryType"
						maxOccurs="unbounded" minOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="annotationType">
				<xsd:sequence>
					<xsd:element name="scanId" type="xsd:string"/>
					<xsd:element name="coordinates" type="tns:pointType" maxOccurs="unbounded" 
					minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
						
			<xsd:complexType name="pointType">
				<xsd:sequence>
					<xsd:element name="x" type="xsd:int"/>
					<xsd:element name="y" type="xsd:int"/>
				</xsd:sequence>			
			</xsd:complexType>
			
			<xsd:complexType name="questionTagsType">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:string"/>
					<xsd:element name="marks" type="xsd:int"/>
					<xsd:element name="length" type="tns:lengthType"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:simpleType name="lengthType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="fullpage"/>
					<xsd:enumeration value="halfpage"/>
					<xsd:enumeration value="mcq"/>
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:element name="buildQuiz" type="tns:quizType">
			</xsd:element>
			<xsd:element name="buildQuizResponse" type="tns:responseType">
			</xsd:element>
			
			<xsd:element name="assignQuiz" type="tns:assignmentType"></xsd:element>

			<xsd:element name="assignQuizResponse" type="tns:responseType">
			</xsd:element>

			<xsd:element name="viewQuestions" type="tns:entryListType">
			</xsd:element>

			<xsd:element name="viewQuestionsResponse" type="tns:responseType">
			</xsd:element>

			<xsd:element name="receiveScans" type="xsd:string"></xsd:element>

			<xsd:element name="receiveScansResponse" type="tns:responseType">
			</xsd:element>

			<xsd:element name="viewScans" type="tns:entryListType"></xsd:element>

			<xsd:element name="viewScansResponse" type="tns:responseType">
			</xsd:element>

			<xsd:element name="createQuestion" type="xsd:string"></xsd:element>

			<xsd:element name="createQuestionResponse" type="tns:responseType">
			</xsd:element>

			<xsd:element name="annotateScan" type="tns:annotationType"></xsd:element>

			<xsd:element name="annotateScanResponse" type="tns:responseType">
			</xsd:element>

			<xsd:element name="tagQuestion" type="tns:questionTagsType"></xsd:element>

			<xsd:element name="tagQuestionResponse" type="tns:responseType">
			</xsd:element>
			
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="buildQuiz">
		<wsdl:part name="parameters" element="tns:buildQuiz" />
	</wsdl:message>
	<wsdl:message name="buildQuizResponse">
		<wsdl:part element="tns:buildQuizResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="assignQuiz">
		<wsdl:part name="parameters" element="tns:assignQuiz"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="assignQuizResponse">
		<wsdl:part name="parameters" element="tns:assignQuizResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="viewQuestions">
		<wsdl:part name="parameters" element="tns:viewQuestions"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="viewQuestionsResponse">
		<wsdl:part name="parameters" element="tns:viewQuestionsResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="viewScans">
		<wsdl:part name="parameters" element="tns:viewScans"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="viewScansResponse">
		<wsdl:part name="parameters" element="tns:viewScansResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="receiveScans">
		<wsdl:part name="parameters" element="tns:receiveScans"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="receiveScansResponse">
		<wsdl:part name="parameters" element="tns:receiveScansResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="createQuestion">
		<wsdl:part name="parameters" element="tns:createQuestion"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="createQuestionResponse">
		<wsdl:part name="parameters" element="tns:createQuestionResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="annotateScan">
		<wsdl:part name="parameters" element="tns:annotateScan"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="annotateScanResponse">
		<wsdl:part name="parameters" element="tns:annotateScanResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="tagQuestion">
		<wsdl:part name="parameters" element="tns:tagQuestion"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="tagQuestionResponse">
		<wsdl:part name="parameters" element="tns:tagQuestionResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="documentMaster">
		<wsdl:operation name="buildQuiz">
			<wsdl:input message="tns:buildQuiz" />
			<wsdl:output message="tns:buildQuizResponse" />
		</wsdl:operation>
		<wsdl:operation name="assignQuiz">
			<wsdl:input message="tns:assignQuiz"></wsdl:input>
			<wsdl:output message="tns:assignQuizResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="viewQuestions">
			<wsdl:input message="tns:viewQuestions"></wsdl:input>
			<wsdl:output message="tns:viewQuestionsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="viewScans">
			<wsdl:input message="tns:viewScans"></wsdl:input>
			<wsdl:output message="tns:viewScansResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="receiveScans">
			<wsdl:input message="tns:receiveScans"></wsdl:input>
			<wsdl:output message="tns:receiveScansResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="createQuestion">
			<wsdl:input message="tns:createQuestion"></wsdl:input>
			<wsdl:output message="tns:createQuestionResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="annotateScan">
			<wsdl:input message="tns:annotateScan"></wsdl:input>
			<wsdl:output message="tns:annotateScanResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="tagQuestion">
			<wsdl:input message="tns:tagQuestion"></wsdl:input>
			<wsdl:output message="tns:tagQuestionResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="documentMasterSOAP" type="tns:documentMaster">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="buildQuiz">
			<soap:operation soapAction="http://gutenberg/blocs/buildQuiz" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="assignQuiz">
			<soap:operation soapAction="http://gutenberg/blocs/assignQuiz" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="viewQuestions">
			<soap:operation soapAction="http://gutenberg/blocs/viewQuestions" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="viewScans">
			<soap:operation soapAction="http://gutenberg/blocs/viewScans" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="receiveScans">
			<soap:operation soapAction="http://gutenberg/blocs/receiveScans" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="createQuestion">
			<soap:operation soapAction="http://gutenberg/blocs/createQuestion" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="annotateScan">
			<soap:operation soapAction="http://gutenberg/blocs/annotateScan" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="tagQuestion">
			<soap:operation soapAction="http://gutenberg/blocs/tagQuestion" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="documentMaster">
		<wsdl:port binding="tns:documentMasterSOAP" name="documentMasterSOAP">
			<soap:address location="http://localhost/blocks" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
