resources/documentMaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="documentMaster" targetNamespace="http://gutenberg/blocs" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://gutenberg/blocs" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://gutenberg/blocs">
      <xsd:element name="buildQuiz" type="tns:quizType">
      </xsd:element>
      <xsd:element name="buildQuizResponse" type="tns:responseType">
      </xsd:element>

      <xsd:complexType name="quizType">
      	<xsd:sequence>
      		<xsd:element name="id" type="xsd:string"/>
      		<xsd:element name="teacherId" type="xsd:string"/>
      		<xsd:element maxOccurs="unbounded" minOccurs="1" name="page" type="tns:pageType">
      		</xsd:element>

      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="manifestType">
      	<xsd:sequence>
      		<xsd:element name="root" type="xsd:string"/>
      		<xsd:element maxOccurs="unbounded" minOccurs="0" name="image" type="tns:entryType">
      		</xsd:element>
      		<xsd:element maxOccurs="unbounded" minOccurs="0" name="document" type="tns:entryType">
      		</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      
    
            <xsd:complexType name="pageType">
            	<xsd:sequence>
            		<xsd:element name="number" type="xsd:int"/>
            		<xsd:element maxOccurs="unbounded" minOccurs="1" name="question" type="tns:entryType">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    
        
            <xsd:complexType name="responseType">
            	<xsd:choice>
            		<xsd:element name="manifest" type="tns:manifestType">
            		</xsd:element>
            		<xsd:element name="error" type="xsd:string"/>
            	</xsd:choice>
            </xsd:complexType>
    
            <xsd:element name="assignQuiz" type="tns:assignmentType"/>
            
            <xsd:element name="assignQuizResponse" type="tns:responseType">
            </xsd:element>
            
            <xsd:complexType name="assignmentType">
            	<xsd:sequence>
            		<xsd:element name="quiz" type="tns:quizType"/>
            		<xsd:element maxOccurs="unbounded" minOccurs="1" name="students" type="tns:studentType">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:element name="viewQuestions" type="tns:entryListType">
            </xsd:element>


    
            <xsd:element name="viewQuestionsResponse" type="tns:responseType">
            </xsd:element>
    
            <xsd:element name="viewScans" type="tns:entryListType"/>

            <xsd:element name="viewScansResponse" type="tns:responseType">
            </xsd:element>
    
    
            <xsd:complexType name="studentType">
            	<xsd:sequence>
            		<xsd:element name="id" type="xsd:string"/>
            		<xsd:element name="name" type="xsd:string"/>
            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:complexType name="entryType">
            	<xsd:sequence>
            		<xsd:element name="id" type="xsd:string"/>
            		<xsd:element maxOccurs="1" minOccurs="0" name="name" type="xsd:string">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:complexType name="entryListType">
            	<xsd:sequence>
            		<xsd:element maxOccurs="unbounded" minOccurs="1" name="entry" type="tns:entryType"/>
            	</xsd:sequence>
            </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="buildQuiz">
    <wsdl:part name="parameters" element="tns:buildQuiz">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buildQuizResponse">
    <wsdl:part name="parameters" element="tns:buildQuizResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="viewScans">
    <wsdl:part name="parameters" element="tns:viewScans">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="viewQuestionsResponse">
    <wsdl:part name="parameters" element="tns:viewQuestionsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="viewScansResponse">
    <wsdl:part name="parameters" element="tns:viewScansResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="assignQuizResponse">
    <wsdl:part name="parameters" element="tns:assignQuizResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="viewQuestions">
    <wsdl:part name="parameters" element="tns:viewQuestions">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="assignQuiz">
    <wsdl:part name="parameters" element="tns:assignQuiz">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="documentMaster">
    <wsdl:operation name="buildQuiz">
      <wsdl:input message="tns:buildQuiz">
    </wsdl:input>
      <wsdl:output message="tns:buildQuizResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="assignQuiz">
      <wsdl:input message="tns:assignQuiz">
    </wsdl:input>
      <wsdl:output message="tns:assignQuizResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="viewQuestions">
      <wsdl:input message="tns:viewQuestions">
    </wsdl:input>
      <wsdl:output message="tns:viewQuestionsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="viewScans">
      <wsdl:input message="tns:viewScans">
    </wsdl:input>
      <wsdl:output message="tns:viewScansResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="documentMasterSOAP" type="tns:documentMaster">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="buildQuiz">
      <soap:operation soapAction="http://gutenberg/blocs/buildQuiz"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="assignQuiz">
      <soap:operation soapAction="http://gutenberg/blocs/assignQuiz"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="viewQuestions">
      <soap:operation soapAction="http://gutenberg/blocs/viewQuestions"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="viewScans">
      <soap:operation soapAction="http://gutenberg/blocs/viewScansQuiz"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="documentMaster">
    <wsdl:port name="documentMasterSOAP" binding="tns:documentMasterSOAP">
      <soap:address location="http://localhost/blocks"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
