resources/documentMaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://gutenberg/blocs" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://gutenberg/blocs" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://gutenberg/blocs">
			<xsd:complexType name="entryType">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="name" type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="value" type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="signature" type="xsd:int"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="quizType">
				<xsd:sequence>
					<xsd:element name="quiz" type="tns:entryType"/>
					<xsd:element name="teacher" type="tns:entryType"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="questions" type="tns:entryType">
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="breaks" type="xsd:int"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="versionTriggers" type="xsd:int"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="manifestType">
				<xsd:sequence>
					<xsd:element name="root" type="xsd:string"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="image" type="tns:entryType">
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="document" type="tns:entryType">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="responseType">
				<xsd:choice>
					<xsd:element name="manifest" type="tns:manifestType">
					</xsd:element>
					<xsd:element name="error" type="xsd:string"/>
				</xsd:choice>
			</xsd:complexType>

			<xsd:complexType name="assignmentType">
				<xsd:sequence>
					<xsd:element name="quiz" type="tns:entryType"/>
					<xsd:element name="instance" type="tns:entryType"/>
					<xsd:element maxOccurs="unbounded" minOccurs="1" name="students" type="tns:entryType">
					</xsd:element>
					<xsd:element minOccurs="0" name="publish" type="xsd:boolean"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="annotationType">
				<xsd:sequence>
					<xsd:element name="scanId" type="xsd:string"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="coordinates" type="tns:pointType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="scanIdType">
				<xsd:sequence>
					<xsd:element name="scanId" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="pointType">
				<xsd:sequence>
					<xsd:element name="x" type="xsd:int"/>
					<xsd:element name="y" type="xsd:int"/>
					<xsd:element minOccurs="0" name="code" type="xsd:int"/>
					<xsd:element minOccurs="0" name="text" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="questionTagsType">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:string"/>
					<xsd:element maxOccurs="unbounded" name="marks" type="xsd:int"/>
					<xsd:element maxOccurs="unbounded" name="length" type="tns:lengthType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:simpleType name="lengthType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="fullpage"/>
					<xsd:enumeration value="halfpage"/>
					<xsd:enumeration value="fewlines"/>
					<xsd:enumeration value="mcq"/>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:complexType name="studentGroupType">
				<xsd:sequence>
					<xsd:element name="teacher" type="tns:entryType"/>
					<xsd:element name="group" type="tns:entryType"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="members" type="tns:entryType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="suggestionType">
				<xsd:sequence>
					<xsd:element name="teacher" type="tns:entryType"/>
					<xsd:element name="signature" type="xsd:string"/>
					<xsd:element name="content" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="workRequestType">
				<xsd:sequence>
					<xsd:element name="grader" type="tns:entryType"/>
					<xsd:element name="maxQuantity" type="xsd:int"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="buildQuiz" type="tns:quizType">
			</xsd:element>
			<xsd:element name="buildQuizResponse" type="tns:responseType">
			</xsd:element>

			<xsd:element name="assignQuiz" type="tns:assignmentType"/>

			<xsd:element name="assignQuizResponse" type="tns:responseType">
			</xsd:element>

			<xsd:element name="createQuestion" type="xsd:string"/>

			<xsd:element name="createQuestionResponse" type="tns:responseType">
			</xsd:element>

			<xsd:element name="annotateScan" type="tns:annotationType"/>

			<xsd:element name="annotateScanResponse" type="tns:responseType">
			</xsd:element>

			<xsd:element name="undoAnnotate" type="tns:scanIdType"/>

			<xsd:element name="undoAnnotateResponse" type="tns:responseType">
			</xsd:element>

			<xsd:element name="rotateScan" type="tns:scanIdType"/>

			<xsd:element name="rotateScanResponse" type="tns:responseType">
			</xsd:element>

			<xsd:element name="tagQuestion" type="tns:questionTagsType"/>

			<xsd:element name="tagQuestionResponse" type="tns:responseType">
			</xsd:element>

			<xsd:element name="generateSuggestionForm" type="tns:entryType"/>

			<xsd:element name="generateSuggestionFormResponse" type="tns:responseType">
			</xsd:element>

			<xsd:element name="generateStudentRoster" type="tns:studentGroupType"/>

			<xsd:element name="generateStudentRosterResponse" type="tns:responseType">
			</xsd:element>

			<xsd:element name="generateQuizReport" type="tns:studentGroupType"/>

			<xsd:element name="generateQuizReportResponse" type="tns:responseType">
			</xsd:element>

			<xsd:element name="prepTest" type="tns:assignmentType"/>

			<xsd:element name="prepTestResponse" type="tns:responseType">
			</xsd:element>

			<xsd:element name="generateStudentCode" type="tns:entryType"/>

			<xsd:element name="generateStudentCodeResponse" type="tns:responseType">
			</xsd:element>

			<xsd:element name="uploadSuggestion" type="tns:suggestionType"/>

			<xsd:element name="uploadSuggestionResponse" type="tns:responseType">
			</xsd:element>

			<xsd:element name="fetchUnresolvedScans" type="tns:workRequestType"/>

			<xsd:element name="fetchUnresolvedScansResponse" type="tns:responseType">
			</xsd:element>

			<xsd:element name="resolveScan" type="tns:entryType"/>

			<xsd:element name="resolveScanResponse" type="tns:responseType">
			</xsd:element>

			<xsd:element name="writeTex" type="tns:TexFlags">
			</xsd:element>
			<xsd:element name="writeTexResponse" type="tns:responseType">
			</xsd:element>
			<xsd:element name="compileTex" type="tns:MkFlags">
			</xsd:element>
			<xsd:element name="compileTexResponse" type="tns:responseType">
			</xsd:element>
		
			<xsd:complexType name="TexFlags">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="target" type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="mode" type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="1" name="imports" type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="author" type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="qFlags" type="tns:qFlagsType"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="wFlags" type="tns:wFlagsType">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		
			<xsd:complexType name="qFlagsType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="title" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="pageBreaks" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="versionTriggers" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		
			<xsd:complexType name="wFlagsType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="versions" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="responses" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		
			<xsd:complexType name="MkFlags">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="path" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="undoAnnotateRequest">
    <wsdl:part name="parameters" element="tns:undoAnnotate">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generateQuizReportRequest">
    <wsdl:part name="parameters" element="tns:generateQuizReport">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="writeTexResponse">
    <wsdl:part name="parameters" element="tns:writeTexResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rotateScanRequest">
    <wsdl:part name="parameters" element="tns:rotateScan">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rotateScanResponse">
    <wsdl:part name="parameters" element="tns:rotateScanResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buildQuizRequest">
    <wsdl:part name="parameters" element="tns:buildQuiz">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchUnresolvedScansRequest">
    <wsdl:part name="parameters" element="tns:fetchUnresolvedScans">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="assignQuizResponse">
    <wsdl:part name="parameters" element="tns:assignQuizResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="compileTexResponse">
    <wsdl:part name="parameters" element="tns:compileTexResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generateStudentRosterResponse">
    <wsdl:part name="parameters" element="tns:generateStudentRosterResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createQuestionRequest">
    <wsdl:part name="parameters" element="tns:createQuestion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadSuggestionRequest">
    <wsdl:part name="parameters" element="tns:uploadSuggestion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="undoAnnotateResponse">
    <wsdl:part name="parameters" element="tns:undoAnnotateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generateSuggestionFormResponse">
    <wsdl:part name="parameters" element="tns:generateSuggestionFormResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="writeTexRequest">
    <wsdl:part name="parameters" element="tns:writeTex">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generateStudentRosterRequest">
    <wsdl:part name="parameters" element="tns:generateStudentRoster">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="resolveScan">
    <wsdl:part name="parameters" element="tns:resolveScan">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="compileTexRequest">
    <wsdl:part name="parameters" element="tns:compileTex">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="tagQuestionRequest">
    <wsdl:part name="parameters" element="tns:tagQuestion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadSuggestionResponse">
    <wsdl:part name="parameters" element="tns:uploadSuggestionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buildQuizResponse">
    <wsdl:part name="parameters" element="tns:buildQuizResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generateQuizReportResponse">
    <wsdl:part name="parameters" element="tns:generateQuizReportResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generateSuggestionFormRequest">
    <wsdl:part name="parameters" element="tns:generateSuggestionForm">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="resolveScanResponse">
    <wsdl:part name="parameters" element="tns:resolveScanResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generateStudentCodeRequest">
    <wsdl:part name="parameters" element="tns:generateStudentCode">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="prepTestResponse">
    <wsdl:part name="parameters" element="tns:prepTestResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="prepTestRequest">
    <wsdl:part name="parameters" element="tns:prepTest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchUnresolvedScansResponse">
    <wsdl:part name="parameters" element="tns:fetchUnresolvedScansResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createQuestionResponse">
    <wsdl:part name="parameters" element="tns:createQuestionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="assignQuizRequest">
    <wsdl:part name="parameters" element="tns:assignQuiz">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="tagQuestionResponse">
    <wsdl:part name="parameters" element="tns:tagQuestionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generateStudentCodeResponse">
    <wsdl:part name="parameters" element="tns:generateStudentCodeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="annotateScanResponse">
    <wsdl:part name="parameters" element="tns:annotateScanResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="annotateScanRequest">
    <wsdl:part name="parameters" element="tns:annotateScan">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="documentMaster">
    <wsdl:operation name="buildQuiz">
      <wsdl:input message="tns:buildQuizRequest">
    </wsdl:input>
      <wsdl:output message="tns:buildQuizResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="assignQuiz">
      <wsdl:input message="tns:assignQuizRequest">
    </wsdl:input>
      <wsdl:output message="tns:assignQuizResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createQuestion">
      <wsdl:input message="tns:createQuestionRequest">
    </wsdl:input>
      <wsdl:output message="tns:createQuestionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="annotateScan">
      <wsdl:input message="tns:annotateScanRequest">
    </wsdl:input>
      <wsdl:output message="tns:annotateScanResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="undoAnnotate">
      <wsdl:input message="tns:undoAnnotateRequest">
    </wsdl:input>
      <wsdl:output message="tns:undoAnnotateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rotateScan">
      <wsdl:input message="tns:rotateScanRequest">
    </wsdl:input>
      <wsdl:output message="tns:rotateScanResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tagQuestion">
      <wsdl:input message="tns:tagQuestionRequest">
    </wsdl:input>
      <wsdl:output message="tns:tagQuestionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generateStudentRoster">
      <wsdl:input message="tns:generateStudentRosterRequest">
    </wsdl:input>
      <wsdl:output message="tns:generateStudentRosterResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generateQuizReport">
      <wsdl:input message="tns:generateQuizReportRequest">
    </wsdl:input>
      <wsdl:output message="tns:generateQuizReportResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="prepTest">
      <wsdl:input message="tns:prepTestRequest">
    </wsdl:input>
      <wsdl:output message="tns:prepTestResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadSuggestion">
      <wsdl:input message="tns:uploadSuggestionRequest">
    </wsdl:input>
      <wsdl:output message="tns:uploadSuggestionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchUnresolvedScans">
      <wsdl:input message="tns:fetchUnresolvedScansRequest">
    </wsdl:input>
      <wsdl:output message="tns:fetchUnresolvedScansResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resolveScan">
      <wsdl:input message="tns:resolveScan">
    </wsdl:input>
      <wsdl:output message="tns:resolveScanResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="writeTex">
      <wsdl:input message="tns:writeTexRequest">
    </wsdl:input>
      <wsdl:output message="tns:writeTexResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="compileTex">
      <wsdl:input message="tns:compileTexRequest">
    </wsdl:input>
      <wsdl:output message="tns:compileTexResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="documentMasterSOAP" type="tns:documentMaster">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="writeTex">
      <soap:operation soapAction="http://gutenberg/blocs/writeTex"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="compileTex">
      <soap:operation soapAction="http://gutenberg/blocs/compileTex"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buildQuiz">
      <soap:operation soapAction="http://gutenberg/blocs/buildQuiz"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="assignQuiz">
      <soap:operation soapAction="http://gutenberg/blocs/assignQuiz"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createQuestion">
      <soap:operation soapAction="http://gutenberg/blocs/createQuestion"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="annotateScan">
      <soap:operation soapAction="http://gutenberg/blocs/annotateScan"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="undoAnnotate">
      <soap:operation soapAction="http://gutenberg/blocs/undoAnnotate"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rotateScan">
      <soap:operation soapAction="http://gutenberg/blocs/rotateScan"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tagQuestion">
      <soap:operation soapAction="http://gutenberg/blocs/tagQuestion"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generateStudentRoster">
      <soap:operation soapAction="http://gutenberg/blocs/generateStudentRoster"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generateQuizReport">
      <soap:operation soapAction="http://gutenberg/blocs/generateQuizReport"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="prepTest">
      <soap:operation soapAction="http://gutenberg/blocs/prepTest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadSuggestion">
      <soap:operation soapAction="http://gutenberg/blocs/uploadSuggestion"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchUnresolvedScans">
      <soap:operation soapAction="http://gutenberg/blocs/fetchUnresolvedScans"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resolveScan">
      <soap:operation soapAction="http://gutenberg/blocs/resolveScan"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="documentMaster">
    <wsdl:port name="documentMasterSOAP" binding="tns:documentMasterSOAP">
      <soap:address location="http://localhost/blocks"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
