resources/documentMaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://gutenberg/blocs" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://gutenberg/blocs" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://gutenberg/blocs">			
			<xsd:complexType name="entryType">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="name" type="xsd:string">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="entryListType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="1" name="entry" type="tns:entryType"/>
				</xsd:sequence>
			</xsd:complexType>			
			
			<xsd:complexType name="quizType">
				<xsd:sequence>
					<xsd:element name="quiz" type="tns:entryType"/>
					<xsd:element name="teacher" type="tns:entryType"/>
					<xsd:element name="school" type="tns:entryType"/>
					<xsd:element maxOccurs="unbounded" minOccurs="1" name="page" type="tns:pageType">					
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="manifestType">
				<xsd:sequence>
					<xsd:element name="root" type="xsd:string"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="image" type="tns:entryType">
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="document" type="tns:entryType">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>


			<xsd:complexType name="pageType">
				<xsd:sequence>
					<xsd:element name="number" type="xsd:int"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="question" type="tns:entryType">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="responseType">
				<xsd:choice>
					<xsd:element name="manifest" type="tns:manifestType">
					</xsd:element>
					<xsd:element name="error" type="xsd:string"/>
				</xsd:choice>
			</xsd:complexType>

			<xsd:complexType name="assignmentType">
				<xsd:sequence>
					<xsd:element name="quiz" type="tns:entryType"/>
					<xsd:element name="instance" type="tns:entryType"/>
					<xsd:element maxOccurs="unbounded" minOccurs="1" name="students" type="tns:entryType">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="annotationType">
				<xsd:sequence>
					<xsd:element name="scanId" type="xsd:string"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="coordinates" type="tns:pointType"/>
				</xsd:sequence>
			</xsd:complexType>
						
			<xsd:complexType name="pointType">
				<xsd:sequence>
					<xsd:element name="x" type="xsd:int"/>
					<xsd:element name="y" type="xsd:int"/>
				</xsd:sequence>			
			</xsd:complexType>
			
			<xsd:complexType name="questionTagsType">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:string"/>
					<xsd:element maxOccurs="unbounded" name="marks" type="xsd:int"/>
					<xsd:element maxOccurs="unbounded" name="length" type="tns:lengthType"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="breaks" type="xsd:int"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:simpleType name="lengthType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="fullpage"/>
					<xsd:enumeration value="halfpage"/>
					<xsd:enumeration value="fewlines"/>
					<xsd:enumeration value="mcq"/>
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:complexType name="questionType">
				<xsd:sequence>
					<xsd:element name="question" type="xsd:string"/>
					<xsd:element name="marginnotes" type="xsd:string"/>
					<xsd:element name="solution" type="xsd:string"/>
					<xsd:element name="tags" type="tns:questionTagsType"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="teacherType">
			  <xsd:sequence>
			    <xsd:element name="teacher" type="tns:entryType"/>
			    <xsd:element name="school" type="tns:entryType"/>
			  </xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="studentGroupType">
			  <xsd:sequence>
			    <xsd:element name="school" type="tns:entryType"/>
			    <xsd:element name="group" type="tns:entryType"/>
			    <xsd:element name="defaultPasswd" type="xsd:string"/>
			    <xsd:element maxOccurs="unbounded" minOccurs="0" name="members" type="tns:entryType"/>
			  </xsd:sequence>
			</xsd:complexType>
			
			<xsd:element name="buildQuiz" type="tns:quizType">
			</xsd:element>
			<xsd:element name="buildQuizResponse" type="tns:responseType">
			</xsd:element>
			
			<xsd:element name="assignQuiz" type="tns:assignmentType"/>

			<xsd:element name="assignQuizResponse" type="tns:responseType">
			</xsd:element>

			<xsd:element name="viewQuestions" type="tns:entryListType">
			</xsd:element>

			<xsd:element name="viewQuestionsResponse" type="tns:responseType">
			</xsd:element>

			<xsd:element name="receiveScans" type="xsd:string"/>

			<xsd:element name="receiveScansResponse" type="tns:responseType">
			</xsd:element>

			<xsd:element name="viewScans" type="tns:entryListType"/>

			<xsd:element name="viewScansResponse" type="tns:responseType">
			</xsd:element>

			<xsd:element name="createQuestion" type="xsd:string"/>

			<xsd:element name="createQuestionResponse" type="tns:responseType">
			</xsd:element>

			<xsd:element name="annotateScan" type="tns:annotationType"/>

			<xsd:element name="annotateScanResponse" type="tns:responseType">
			</xsd:element>

			<xsd:element name="tagQuestion" type="tns:questionTagsType"/>

			<xsd:element name="tagQuestionResponse" type="tns:responseType">
			</xsd:element>
			
			<xsd:element name="writeQuestion" type="tns:questionType"/>

			<xsd:element name="writeQuestionResponse" type="tns:responseType">
			</xsd:element>
			
			<xsd:element name="generateSuggestionForm" type="tns:teacherType"/>

			<xsd:element name="generateSuggestionFormResponse" type="tns:responseType">
			</xsd:element>
			
			<xsd:element name="generateStudentRoster" type="tns:studentGroupType"/>

			<xsd:element name="generateStudentRosterResponse" type="tns:responseType">
			</xsd:element>
			
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="buildQuiz">
    <wsdl:part name="parameters" element="tns:buildQuiz">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buildQuizResponse">
    <wsdl:part name="parameters" element="tns:buildQuizResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="viewQuestionsResponse">
    <wsdl:part name="parameters" element="tns:viewQuestionsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="viewScans">
    <wsdl:part name="parameters" element="tns:viewScans">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generateSuggestionForm">
    <wsdl:part name="parameters" element="tns:generateSuggestionForm">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="writeQuestion">
    <wsdl:part name="parameters" element="tns:writeQuestion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createQuestion">
    <wsdl:part name="parameters" element="tns:createQuestion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="writeQuestionResponse">
    <wsdl:part name="parameters" element="tns:writeQuestionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="assignQuizResponse">
    <wsdl:part name="parameters" element="tns:assignQuizResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="viewScansResponse">
    <wsdl:part name="parameters" element="tns:viewScansResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="receiveScans">
    <wsdl:part name="parameters" element="tns:receiveScans">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generateStudentRosterResponse">
    <wsdl:part name="parameters" element="tns:generateStudentRosterResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="receiveScansResponse">
    <wsdl:part name="parameters" element="tns:receiveScansResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="annotateScan">
    <wsdl:part name="parameters" element="tns:annotateScan">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createQuestionResponse">
    <wsdl:part name="parameters" element="tns:createQuestionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="tagQuestionResponse">
    <wsdl:part name="parameters" element="tns:tagQuestionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generateSuggestionFormResponse">
    <wsdl:part name="parameters" element="tns:generateSuggestionFormResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="tagQuestion">
    <wsdl:part name="parameters" element="tns:tagQuestion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generateStudentRoster">
    <wsdl:part name="parameters" element="tns:generateStudentRoster">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="annotateScanResponse">
    <wsdl:part name="parameters" element="tns:annotateScanResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="viewQuestions">
    <wsdl:part name="parameters" element="tns:viewQuestions">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="assignQuiz">
    <wsdl:part name="parameters" element="tns:assignQuiz">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="documentMaster">
    <wsdl:operation name="buildQuiz">
      <wsdl:input message="tns:buildQuiz">
    </wsdl:input>
      <wsdl:output message="tns:buildQuizResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="assignQuiz">
      <wsdl:input message="tns:assignQuiz">
    </wsdl:input>
      <wsdl:output message="tns:assignQuizResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="viewQuestions">
      <wsdl:input message="tns:viewQuestions">
    </wsdl:input>
      <wsdl:output message="tns:viewQuestionsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="viewScans">
      <wsdl:input message="tns:viewScans">
    </wsdl:input>
      <wsdl:output message="tns:viewScansResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveScans">
      <wsdl:input message="tns:receiveScans">
    </wsdl:input>
      <wsdl:output message="tns:receiveScansResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createQuestion">
      <wsdl:input message="tns:createQuestion">
    </wsdl:input>
      <wsdl:output message="tns:createQuestionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="annotateScan">
      <wsdl:input message="tns:annotateScan">
    </wsdl:input>
      <wsdl:output message="tns:annotateScanResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tagQuestion">
      <wsdl:input message="tns:tagQuestion">
    </wsdl:input>
      <wsdl:output message="tns:tagQuestionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="writeQuestion">
      <wsdl:input message="tns:writeQuestion">
    </wsdl:input>
      <wsdl:output message="tns:writeQuestionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generateSuggestionForm">
      <wsdl:input message="tns:generateSuggestionForm">
    </wsdl:input>
      <wsdl:output message="tns:generateSuggestionFormResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generateStudentRoster">
      <wsdl:input message="tns:generateStudentRoster">
    </wsdl:input>
      <wsdl:output message="tns:generateStudentRosterResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="documentMasterSOAP" type="tns:documentMaster">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="buildQuiz">
      <soap:operation soapAction="http://gutenberg/blocs/buildQuiz"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="assignQuiz">
      <soap:operation soapAction="http://gutenberg/blocs/assignQuiz"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="viewQuestions">
      <soap:operation soapAction="http://gutenberg/blocs/viewQuestions"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="viewScans">
      <soap:operation soapAction="http://gutenberg/blocs/viewScans"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveScans">
      <soap:operation soapAction="http://gutenberg/blocs/receiveScans"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createQuestion">
      <soap:operation soapAction="http://gutenberg/blocs/createQuestion"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="annotateScan">
      <soap:operation soapAction="http://gutenberg/blocs/annotateScan"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tagQuestion">
      <soap:operation soapAction="http://gutenberg/blocs/tagQuestion"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="writeQuestion">
      <soap:operation soapAction="http://gutenberg/blocs/writeQuestion"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generateSuggestionForm">
      <soap:operation soapAction="http://gutenberg/blocs/generateSuggestionForm"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generateStudentRoster">
      <soap:operation soapAction="http://gutenberg/blocs/generateStudentRoster"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="documentMaster">
    <wsdl:port name="documentMasterSOAP" binding="tns:documentMasterSOAP">
      <soap:address location="http://localhost/blocks"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
